*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: rgb(145, 91, 12);
    height: 70px;    
    width: 100% ;
}

nav {
    
    float: right;
    list-style: none;
    margin: 25px;
}

nav > a{    
    color: white;
    text-decoration: none; /*Quita los subtitulos*/
    font-size: 20px;
    margin: 20px;
}
nav > a:hover{    /*Efecto al poner el pulsor sobre el contenido*/
    color: black;
    text-decoration:underline;
}
.clearfix{
    clear: both;
}

.titulos{
    margin: 50px;
    text-align: center;  /*para centrar textos*/
}

.contenedor-sobre-mi{
    display:flex;
    justify-content: space-evenly;
}

.contenedor-sobre-mi .sobre-mi-texto{
    margin: 30px;
    
}

.card-pryectos{
    width: 30px;
    height: 70px;
}